<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BigMacStockDB"
			 connectionString="Server=MERLIN\SQLEXPRESS19;Database=BigMacStock;User Id=sa;Password=Conestoga1;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>